In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn

In [2]:
Movie = pd.read_csv("D:\\New folder (2)\\datasets\\topRated.csv")

In [3]:
Movie

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,110.790,8.7,18684
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,115.364,8.7,24660
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,84.578,8.6,11298
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,70.449,8.6,14604
4,4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,26.473,8.6,4256
...,...,...,...,...,...,...,...,...
8575,8575,10208,Muppets from Space,When Gonzo's breakfast cereal tells him that h...,1999-07-14,11.331,6.1,294
8576,8576,354110,Forsaken,John Henry returns to his hometown in hopes of...,2015-09-16,12.179,6.1,310
8577,8577,183836,The Brats,"Newly engaged, Thomas meets his future father-...",2013-04-17,6.386,6.1,508
8578,8578,81393,12 Dates of Christmas,In an attempt to win back her ex-boyfriend on ...,2011-12-11,7.827,6.1,246
8579,8579,500268,Made in Italy,Riko is an honest and hardworking man who can ...,2018-01-25,6.844,6.1,207

In [4]:
Movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8580 entries, 0 to 8579
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8580 non-null   int64
 1   id            8580 non-null   int64
 2   title         8580 non-null   object
 3   overview      8579 non-null   object
 4   release_date  8580 non-null   object
 5   popularity    8580 non-null   float64
 6   vote_average  8580 non-null   float64
 7   vote_count    8580 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 536.4+ KB

In [5]:
Movie.describe

<bound method NDFrame.describe of       Unnamed: 0      id                        title  \
0              0     238                The Godfather
1              1     278     The Shawshank Redemption
2              2     240        The Godfather Part II
3              3     424             Schindler's List
4              4   19404  Dilwale Dulhania Le Jayenge
...          ...     ...                          ...
8575        8575   10208           Muppets from Space
8576        8576  354110                     Forsaken
8577        8577  183836                    The Brats
8578        8578   81393        12 Dates of Christmas
8579        8579  500268                Made in Italy

                                               overview release_date  \
0     Spanning the years 1945 to 1955, a chronicle o...   1972-03-14
1     Framed in the 1940s for the double murder of h...   1994-09-23
2     In the continuing saga of the Corleone crime f...   1974-12-20
3     The true story of how businessman Oskar Schind...   1993-12-15
4     Raj is a rich, carefree, happy-go-lucky second...   1995-10-20
...                                                 ...          ...
8575  When Gonzo's breakfast cereal tells him that h...   1999-07-14
8576  John Henry returns to his hometown in hopes of...   2015-09-16
8577  Newly engaged, Thomas meets his future father-...   2013-04-17
8578  In an attempt to win back her ex-boyfriend on ...   2011-12-11
8579  Riko is an honest and hardworking man who can ...   2018-01-25

      popularity  vote_average  vote_count
0        110.790           8.7       18684
1        115.364           8.7       24660
2         84.578           8.6       11298
3         70.449           8.6       14604
4         26.473           8.6        4256
...          ...           ...         ...
8575      11.331           6.1         294
8576      12.179           6.1         310
8577       6.386           6.1         508
8578       7.827           6.1         246
8579       6.844           6.1         207

[8580 rows x 8 columns]>

In [6]:
Movie.size

68640

In [7]:
Movie.shape

(8580, 8)

In [8]:
Movie.std

<bound method DataFrame.std of       Unnamed: 0      id                        title  \
0              0     238                The Godfather
1              1     278     The Shawshank Redemption
2              2     240        The Godfather Part II
3              3     424             Schindler's List
4              4   19404  Dilwale Dulhania Le Jayenge
...          ...     ...                          ...
8575        8575   10208           Muppets from Space
8576        8576  354110                     Forsaken
8577        8577  183836                    The Brats
8578        8578   81393        12 Dates of Christmas
8579        8579  500268                Made in Italy

                                               overview release_date  \
0     Spanning the years 1945 to 1955, a chronicle o...   1972-03-14
1     Framed in the 1940s for the double murder of h...   1994-09-23
2     In the continuing saga of the Corleone crime f...   1974-12-20
3     The true story of how businessman Oskar Schind...   1993-12-15
4     Raj is a rich, carefree, happy-go-lucky second...   1995-10-20
...                                                 ...          ...
8575  When Gonzo's breakfast cereal tells him that h...   1999-07-14
8576  John Henry returns to his hometown in hopes of...   2015-09-16
8577  Newly engaged, Thomas meets his future father-...   2013-04-17
8578  In an attempt to win back her ex-boyfriend on ...   2011-12-11
8579  Riko is an honest and hardworking man who can ...   2018-01-25

      popularity  vote_average  vote_count
0        110.790           8.7       18684
1        115.364           8.7       24660
2         84.578           8.6       11298
3         70.449           8.6       14604
4         26.473           8.6        4256
...          ...           ...         ...
8575      11.331           6.1         294
8576      12.179           6.1         310
8577       6.386           6.1         508
8578       7.827           6.1         246
8579       6.844           6.1         207

[8580 rows x 8 columns]>

In [9]:
Movie.isnull().sum()

Unnamed: 0      0
id              0
title           0
overview        1
release_date    0
popularity      0
vote_average    0
vote_count      0
dtype: int64

In [10]:
Movie.duplicated

<bound method DataFrame.duplicated of       Unnamed: 0      id                        title  \
0              0     238                The Godfather
1              1     278     The Shawshank Redemption
2              2     240        The Godfather Part II
3              3     424             Schindler's List
4              4   19404  Dilwale Dulhania Le Jayenge
...          ...     ...                          ...
8575        8575   10208           Muppets from Space
8576        8576  354110                     Forsaken
8577        8577  183836                    The Brats
8578        8578   81393        12 Dates of Christmas
8579        8579  500268                Made in Italy

                                               overview release_date  \
0     Spanning the years 1945 to 1955, a chronicle o...   1972-03-14
1     Framed in the 1940s for the double murder of h...   1994-09-23
2     In the continuing saga of the Corleone crime f...   1974-12-20
3     The true story of how businessman Oskar Schind...   1993-12-15
4     Raj is a rich, carefree, happy-go-lucky second...   1995-10-20
...                                                 ...          ...
8575  When Gonzo's breakfast cereal tells him that h...   1999-07-14
8576  John Henry returns to his hometown in hopes of...   2015-09-16
8577  Newly engaged, Thomas meets his future father-...   2013-04-17
8578  In an attempt to win back her ex-boyfriend on ...   2011-12-11
8579  Riko is an honest and hardworking man who can ...   2018-01-25

      popularity  vote_average  vote_count
0        110.790           8.7       18684
1        115.364           8.7       24660
2         84.578           8.6       11298
3         70.449           8.6       14604
4         26.473           8.6        4256
...          ...           ...         ...
8575      11.331           6.1         294
8576      12.179           6.1         310
8577       6.386           6.1         508
8578       7.827           6.1         246
8579       6.844           6.1         207

[8580 rows x 8 columns]>

In [11]:
Movie.columns

Index(['Unnamed: 0', 'id', 'title', 'overview', 'release_date', 'popularity',
       'vote_average', 'vote_count'],
      dtype='object')

In [12]:
Movie.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,110.790,8.7,18684
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,115.364,8.7,24660
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,84.578,8.6,11298
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,70.449,8.6,14604
4,4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,26.473,8.6,4256

In [13]:
Movie.tail()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
8575,8575,10208,Muppets from Space,When Gonzo's breakfast cereal tells him that h...,1999-07-14,11.331,6.1,294
8576,8576,354110,Forsaken,John Henry returns to his hometown in hopes of...,2015-09-16,12.179,6.1,310
8577,8577,183836,The Brats,"Newly engaged, Thomas meets his future father-...",2013-04-17,6.386,6.1,508
8578,8578,81393,12 Dates of Christmas,In an attempt to win back her ex-boyfriend on ...,2011-12-11,7.827,6.1,246
8579,8579,500268,Made in Italy,Riko is an honest and hardworking man who can ...,2018-01-25,6.844,6.1,207